/msvc/selftraining/Debug/
/msvc/selftraining/Release/
/msvc/selftraining/ipch/
/msvc/selftraining/selftraining.sdf
/msvc/selftraining/selftraining.suo
/msvc/selftraining/selftraining/Debug
/msvc/selftraining/selftraining/Release


